/* 总体 */
* {
    margin: 0px;
}
html{
    scroll-padding-top: 96px;
  }
/* 页头logo+导航栏 */
.page {
    padding: 0%;
    margin: 0%;
}
a,a:link,a:visited,a:hover,a:active{
    text-decoration: none;
    color:inherit;
}
.header {
    height: 72px;
    width: 100%;
    padding: 0%;
    margin: 0%;
    position: fixed;
    top: 0;
    flex: 1;
}
.head-logo {
    font: normal 700 28px "Noto Sans";
    padding: 17px 24px;
    height: fit-content;
    position: fixed;
	top: 0px;
}
#logo-pic {
    padding-right: 12px;
}
.menu {
    background-color: #FFF;
    width: auto;
    height: 100%;
}
.header-menu {
    font: normal 400 20px "Noto Sans";
    color: #333;
    list-style-type: none;
    padding: 22.335px 24px;
    overflow: hidden;
    width: fit-content;
    float: right;
    margin: 0px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #FFF;
}
.headmenu {
    float: right;
    width: fit-content;
    padding: 0px 24px;
}
.headmenu a {
    text-decoration: none;
    color: #333;
}

.headmenu a:hover {
    color: #2E58F9;
}
/* 下拉 */

.menu-icon {
    background-color: #FFF;
    color: #333;
    padding: 16px;
    border: none;
    cursor: pointer;
    display: none;
}
  
.dropdown {
    position: fixed;
    top: 10px;
    right: 0;
    display: inline-block;
}
  
.dropdown-list {
    display: none;
    position: absolute;
    right: 12px;
    background-color: #FFF;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(212, 212, 212, 0.2);
    z-index: 1;
    border-radius: 8px;
    text-align: right;
}
  
.dropdown-list a {
    color: #333;
    padding: 24px 24px;
    text-decoration: none;
    display: block;
}
  
.dropdown-list a:hover {
    color: #2E58F9
}
  
.dropdown:hover .dropdown-list {
    display: block;
}
  
.dropdown:hover .menu-icon {
    color: #777777;
}


/* body */
.body {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 72px;
    overflow: hidden;
}
.box {
    flex-direction: row;
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    margin-top: 48px;
    overflow: hidden;
}
.title {
    font: normal 400 3em "Noto Sans";
    flex: 0 0 30%;
    text-align: right;
    padding: 24px;
}
h1 {
    text-align: right;
}
.image {
    flex: 1;
    /* padding: 72px; */
    max-width: 100%;
    height: auto;
    width: 100%;
    overflow: hidden;
}
.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 侧栏 */

.p2 {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 272px;
    margin-bottom: 196px;
}
.intro {
    flex-direction: row;
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    margin-top: 48px;
}
.avatar {
    flex: 1;
    max-width: 100%;
    height: auto;
    /* padding-right: 7%; */
    width: 40%; 
}
.avatarpic {
    display: block;
    margin-left: 72px;
    margin-right: auto;
}
.introduce {
    flex: 0 0 60%;
    text-align: left;
    margin-right: auto;
    margin-right: auto;
    /* width: 60%; */
    
}
h2 {
    font: normal 700 32px 'Noto Sans';
    color: #333;
    text-align: left;
    padding: 8px 16% 8px 16%;
}
h3 {
    font: normal 400 16px 'Noto Sans';
    color: rgba(142, 142, 142, 1);
    padding: 8px 16% 8px 16%;
    text-align: left;
}
.introduce p {
    font: normal 400 16px 'Noto Sans';
    text-align: left;
    padding: 0 16% 0 16%;
}

/* works */
.works-title {
    font: normal 700 32px 'Noto Sans';
    text-align: center;

}
.works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    margin: 36px 0 216px 0;
    height: fit-content;
}
.allcards {
    width: 24%;
    display: flex;
}
.card {
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    margin: 18px;
    /* object-fit: cover;
    display: block;
    align-items: stretch; */
}
.card img {
    overflow: hidden;
    height: 269px;
    object-fit: cover;
    border-radius: 6px 6px 0px 0px;
}
.card-text {
    text-align: left;
    padding: 16px 16px 24px 16px;
}
.h5 {
    font: normal 700 24px 'Noto Sans';
    color: #333;
}

.card .description {
    font: normal 400 16px 'Noto Sans';
    color: #777777;
}
.persona {
    margin-bottom: 96px;
}
/* table */
.ca-chart {
    margin-top: 36px;
    margin-bottom: 96px;
}
table {
    /* width: 80%; */
    margin: 0 10%;
    
}
td {
    border-bottom: 2px dashed #81B7AC;
    width: 20%;
}
tbody {
    font: normal 400 16px 'Noto Sans';
}
.tablehead-box {
    position: relative;
    
}
.tablehead-text {
    position: absolute;
    bottom: 0%;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 0;
    font: normal 700 20px 'Noto Sans';
    color: #FFF;
    text-align: center;
    background-color: #81B7AC;
    
}
.tablehead-box img {
    width: 100%;
    height: auto;
    border-radius: 6px 6px 0 0;
}

/* tr {
    border-width: 1px 0px;
    border-style: dashed;
    border-color: #81B7AC;
} */
td p {
    padding: 36px 16px;
}

.card:hover {
    color: rgb(255, 255, 255);
    background-color: #2E58F9;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.16);

}
.card:hover .description{
    color: rgb(255, 255, 255);
}

.works-trainstant {
    margin: 96px 0 0 0;
}
.works-trainstant h2 {
    font: normal 700 32px 'Noto Sans';
    color: #333;
}
.persona {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}
.personacard {
    width: 24%;
    height: auto;
}

@media screen and (max-width: 1024px) {
    .allcards {
        width: 52%;
    }
    .card {
        margin: 18px 0;
        height: auto;
    }
    .card-a {
        width: 100%;
    }
    .personacard {
        width: 52%;
    }
    tr {
        /* background-color: aliceblue; */
        display: flex;
    }
    td {
        /* width: 192.7px; */
        /* height: 100%; */
        display: inline-block;
        white-space:pre-line;
        word-wrap: break-word;
        word-break: break-all;
        /* background-color: aqua; */

    }
    td p {
        height:100%;
        /* background-color: bisque; */
    }
    .ca-chart {
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
    }
    table {
        width: 802px;
    }
    .works-trainstant h2 {
        font: normal 700 24px 'Noto Sans';
    }

}
@media screen and (max-width: 768px) {
    .header-menu{
        display: none;
    }
    .box {
        flex-direction: column-reverse;
        flex: 1;
      }
    .image { 
        flex: 1;
        margin-top: 48px;
        padding: 24px 0px;
        max-width: 200%;
        height: auto;
        width: 150%;
        margin: 0;
        overflow: hidden;
    }
    .title {
        flex: 0 0 36%;
        text-align: left;
        margin: 0 auto 0 40px;
        padding: 0;
    }
    .p2 {
        margin-top: 196px;
        margin-bottom: 196px;
    }

    .intro {
        flex-direction: column;
        flex: 1;
        margin: 0 0 48px 0;
    }
    .avatar {
        flex: 1;
        margin-top: 48px;
        margin-bottom: 48px;
        padding: 24px;
        max-width: 100%;
        height: auto;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
    }

    .introduce {
        flex: 0 0 60%;
        text-align: left;
        margin: 0 auto 0 auto;
        padding: 36px;
    }
    .introduce p {
        padding: 0 16%;
    }
    .menu-icon {
        width: fit-content;
        height: auto;
        margin: 0 24px 0 0;
        display: inline;
    }
    .allcards {
        width: 384px;
        margin: 12px 24px 12px 24px;
    }
    .personacard {
        width: 384px;
        margin: 12px 24px 12px 24px;
    }
    .works-trainstant h2 {
        font: normal 700 24px 'Noto Sans';
    }
}
@media screen and (max-width: 428px){
    .head-logo {
        font: normal 700 24px "Noto Sans";
        padding: 17px 24px;
    }  
    .works-trainstant h2 {
        font: normal 700 24px 'Noto Sans';
    }
}
